.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}

.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}

.i-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 4.5rem;
}

.i-name > :nth-child(2) {
  color: var(--blue);
  font-weight: bold;
  font-size: 4.5rem;
}

.i-name > :nth-child(3) {
  color: var(--black);
  font-weight: 100;
  font-size: 24px;
}
.i-name > :nth-child(4) {
  color: var(--black);
  font-weight: 85;
  font-size: 20px;
}

.i-button {
  width: 9rem;
  height: 4rem;
}

.i-icons {
  margin-top: 2rem;
  display: flex;
  gap: 0rem;
}

.i-icons > * {
  transform: scale(0.6);
}

.i-icons > *:hover {
  cursor: pointer;
}

.i-right {
  display: flex;
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}
